<mat-nav-list>
  <ng-container *ngIf="isAdmin === 'Admin'">
    <a mat-list-item routerLink="/configuracion">
      <mat-icon>settings</mat-icon>
      <span class="nav-link">Configuracion</span>
    </a>    <a mat-list-item routerLink="/admin">
      <mat-icon>insert_chart_outlined</mat-icon>
      <span class="nav-link">Estadísticas</span>
    </a>
    <a mat-list-item routerLink="/admin/users">
      <mat-icon>people</mat-icon>
      <span class="nav-link">Usuarios</span>
    </a>
    <a mat-list-item routerLink="/clientes">
      <mat-icon>sentiment_satisfied_alt</mat-icon>
      <span class="nav-link">Clientes</span>
    </a>
    <a mat-list-item routerLink="/categorias">
      <mat-icon>article</mat-icon>
      <span class="nav-link">Categorias</span>
    </a>
  </ng-container>
  <a mat-list-item routerLink="/products">
    <mat-icon>shopping_bag</mat-icon>
    <span class="nav-link">Productos</span>
  </a>
  <a mat-list-item routerLink="/portada">
    <mat-icon>description</mat-icon>
    <span class="nav-link">Portada</span>
  </a>
  <a mat-list-item routerLink="/pedidos">
    <mat-icon>add_shopping_cart</mat-icon>
    <span class="nav-link">Pedidos</span>
  </a> 
  <a mat-list-item routerLink="/promociones">
    <mat-icon>storefront</mat-icon>
    <span class="nav-link">Promociones</span>
  </a>    
  <a mat-button class="exit" (click)="onExit()">
      <mat-icon>exit_to_app</mat-icon>
      Exit
  </a>
  </mat-nav-list>
