<mat-toolbar color="primary">
  <ng-container *ngIf="role">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    {{userId}}
  </ng-container>
  <span>TVS Dental</span>
  <span class="spacer"></span>
  <a *ngIf="!role; else viewLogout" mat-button routerLink="/login">Login</a>
  <a *ngIf="role" mat-button routerLink="/admin">{{role}}</a>
</mat-toolbar>

<ng-template #viewLogout>
  <a mat-button (click)="onLogout()">
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </a>
</ng-template>