<mat-card class="button">
  <a mat-raised-button color="accent" routerLink="/products" >Listado de productos</a>
</mat-card>

<mat-tab-group class="mat-tab">
  <mat-tab label="Información de producto">
    <form
    class="needs-validation"
    novalidate
    [formGroup]="productForm"
    (ngSubmit)="onSubmit()"
    >
    <mat-card>
      <mat-card-content>
        <img [src]="imagen" placeholder="Imágen del producto" style="max-width:100%;width:auto;height:auto;"/>
      </mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-content>
          <section>
            <mat-form-field class="inputSmall" appearance="fill">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="Estado" placeholder="Selecciona un estado del producto" [(value)]="selectedState">
                <mat-option *ngFor="let state of productStatus" [value]="state.value">
                  {{state.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>  
              <mat-form-field class="inputSmall" hintLabel="Max. 30 caracteres" appearance="fill">
              <mat-label>SKU</mat-label>
              <input formControlName="sku" matInput #input1 maxlength="30" [ngClass]="{'is-invalid': isValidField('sku')}">
              <mat-hint align="end">{{input1.value?.length || 0}}/30</mat-hint>
              <div class="invalid-feedback">
                <span class="span-errors" *ngIf="productForm.get('sku').errors?.required">
                    El nombre es obligatorio.
                </span>
              </div>
            </mat-form-field>  
            <mat-form-field class="inputBig" hintLabel="Max. 150 caracteres" appearance="fill">
              <mat-label>Url</mat-label>
              <input formControlName="Url" matInput #input2 maxlength="150" [ngClass]="{'is-invalid': isValidField('Url')}">
              <mat-hint align="end">{{input2.value?.length || 0}}/150</mat-hint>
              <div class="invalid-feedback">
                <span class="span-errors" *ngIf="productForm.get('Url').errors?.required">
                    El nombre es obligatorio.
                </span>
                <span class="span-errors" *ngIf="productForm.get('Url').errors?.minlength">
                  Longitud mínima es de
                  {{ customersForm.get("Url").errors?.minlength?.requiredLength }}
                  caracteres.
                </span>
                <span class="span-errors" *ngIf="productForm.get('Url').errors?.pattern">
                  Caracteres no válidos.
                </span>
              </div>
            </mat-form-field>  
            <mat-form-field class="inputBig" hintLabel="Max. 150 caracteres" appearance="fill">
              <mat-label>Articulo</mat-label>
              <input formControlName="Articulo" matInput #input3 maxlength="150" [ngClass]="{'is-invalid': isValidField('Articulo')}">
              <mat-hint align="end">{{input3.value?.length || 0}}/150</mat-hint>
              <div class="invalid-feedback">
                <span class="span-errors" *ngIf="productForm.get('Articulo').errors?.required">
                    El nombre es obligatorio.
                </span>
                <span class="span-errors" *ngIf="productForm.get('Articulo').errors?.minlength">
                  Longitud mínima es de
                  {{ customersForm.get("Articulo").errors?.minlength?.requiredLength }}
                  caracteres.
                </span>
              </div>
            </mat-form-field>
          </section>
        </mat-card-content>  
      </mat-card>
      <mat-card>
        <mat-card-content>
          <section>
            <mat-form-field class="inputSmall" appearance="fill">
              <mat-label>Tipo de IVA</mat-label>
              <mat-select formControlName="iva" placeholder="Selecciona IVA" [(value)]="selectedVat">
                <mat-option *ngFor="let vat of typeVat" [value]="vat.value">
                  {{vat.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field> 
            <mat-form-field class="inputSmall" appearance="fill">
              <mat-label>Precio</mat-label>
              <input formControlName="precio" min="0" matInput [ngClass]="{'is-invalid': isValidField('precio')}">
              <div class="invalid-feedback">
                <span class="span-errors" *ngIf="productForm.get('precio').errors?.required">
                    Precio obligatorio (defecto 0).
                </span>
                <span class="span-errors" *ngIf="productForm.get('precio').errors?.pattern">
                    Caracteres no válidos.
                </span>
                <span class="span-errors" *ngIf="productForm.get('precio').errors?.min">
                    El valor mínimo es 0.
                </span>
              </div>
            </mat-form-field>
            <mat-form-field class="inputSmall" appearance="fill">
              <mat-label>Precio oferta</mat-label>
              <input formControlName="precioRebajado" min="0" matInput [ngClass]="{'is-invalid': isValidField('precioRebajado')}">
              <div class="invalid-feedback">
                <span class="span-errors" *ngIf="productForm.get('precioRebajado').errors?.required">
                    Precio obligatorio (defecto 0).
                </span>
                <span class="span-errors" *ngIf="productForm.get('precioRebajado').errors?.pattern">
                  Caracteres no válidos.
                </span>
                <span class="span-errors" *ngIf="productForm.get('precioRebajado').errors?.min">
                  El valor mínimo es 0.
                </span>
              </div>
            </mat-form-field>
            <mat-form-field class="inputSmall" appearance="fill">
              <mat-label>Stock</mat-label>
              <input formControlName="stock" min="0" matInput [ngClass]="{'is-invalid': isValidField('stock')}">
              <div class="invalid-feedback">
                <span class="span-errors" *ngIf="productForm.get('stock').errors?.pattern">
                  Caracteres no válidos.
                </span>
                <span class="span-errors" *ngIf="productForm.get('stock').errors?.min">
                  El valor mínimo es 0.
                </span>
              </div>
            </mat-form-field>
          </section>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <section>
            <mat-form-field class="textarea-full-width" appearance="fill">
              <mat-label>Descripción del producto</mat-label>
              <textarea formControlName="DescCorta" matInput
               cdkTextareaAutosize
               cdkAutosizeMinRows="1"
               cdkAutosizeMaxRows="50"> 
              </textarea>
            </mat-form-field>
          </section>
        </mat-card-content>
      </mat-card>
      <mat-card class="button">
        <button mat-raised-button color="primary"
          type="submit"
          class="btn btn-primary btn-lg"
          [disabled]="productForm.invalid"
        >
          Grabar
        </button>
      </mat-card>
    </form>
  </mat-tab>
  <mat-tab label="Otros"></mat-tab>
</mat-tab-group>


<pre>
  Dirty:
  {{ productForm.dirty }}
</pre>
<pre>
  touched:
  {{ productForm.touched }}
</pre>
<pre>
  Value:
  {{ productForm.value | json }}
</pre>
<pre>
  Status:
  {{ productForm.status }}
</pre>
<pre>
  Valid:
  {{ productForm.valid }}
</pre>
<pre>
  InValid:
  {{ productForm.invalid }}
</pre>
