<mat-form-field>
  <mat-label>Búsqueda</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Dígite el texto a buscar" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    
    <ng-container matColumnDef="Imagen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
      <td mat-cell *matCellDef="let element">
        <img src={{element.Imagen}}  style="max-width:100%;width:auto;height:auto;"/>
      </td>
    </ng-container>

    <ng-container matColumnDef="Articulo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Artículo </th>
      <td mat-cell *matCellDef="let element"> {{element.Articulo}} </td>
    </ng-container>

    <ng-container matColumnDef="Sku">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SKU </th>
      <td mat-cell *matCellDef="let element"> {{element.Sku}} </td>
    </ng-container>

    <ng-container matColumnDef="Precio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.Precio}} </td> 
    </ng-container>

    <ng-container matColumnDef="IVA">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> IVA </th>
      <td mat-cell *matCellDef="let element"> {{element.IVA}} </td>
    </ng-container>

    <ng-container matColumnDef="Stock">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.Stock}} </td>
    </ng-container>

    <ng-container matColumnDef="Proveedor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
      <td mat-cell *matCellDef="let element"> {{element.Proveedor}} </td>
    </ng-container>

    <ng-container matColumnDef="Categoria">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
      <td mat-cell *matCellDef="let element"> {{element.Categoria}} </td>
    </ng-container>

    <ng-container matColumnDef="Subcategoria">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Subcategoria </th>
      <td mat-cell *matCellDef="let element"> {{element.Subcategoria}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[12, 25, 50]" showFirstLastButtons></mat-paginator>
</div>
 
  